<body>
    <link rel="stylesheet" href="../Assets/css/BrasilJunior.css">
</body>
<div class="row row-centered" style="width:100%; height:100%">
    <!--Logo Brasil Junior-->
    <div class="col-sm-5  col-centered" style="margin-left: 2%">
        <div class="row row-centered">
            <div class="col-sm-12 col-centered">
                <img src="../Assets/pics/logoBrasilJunior.png" class="img-fluid" alt="Logo Brasil Júnior" style="width:100%; height:100%; max-width: 100%; height: auto !important;">
            </div>
        </div>
    </div>
    
    <!--Cards de Produtos da Brasil Junior-->
    <div class="col-sm-6 col-centered" id="div-produtos">
        <div class="container" style="padding: 2%; padding-left:13% !important">
            <div class="section-body" style="background-color: white; border-radius: 5px; padding: 2%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <h1  class="display-4" style="color: #1f6084; text-align:center"><strong> Produtos </strong></h1>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <!--ENEJ-->
                            <div id="imagem-enej">
                                <div class="card img-fluid" id="card-imagem-produto">
                                    <a data-toggle="collapse" href="#enej" role="button" aria-expanded="false" aria-controls="collapseExample" 
                                    data-toggle="tooltip" data-placement="bottom" title="Sobre a ENEJ.">
                                        <img class="card-img-top" src="../Assets/pics/enej.png" alt="Logo ENEJ" id="logo-produto"><i class="fas fa-angle-down" id="icone-mais-informacoes"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="texto-enej collapse" id="enej">
                                <div class="card border-info mb-3" id="card-texto-produto">
                                    <div class="card card-body text-info" id="texto-produto">
                                        Resultado de um sonho do movimento, o Encontro Nacional de Empresas Juniores foi realizado pela primeira vez em 1993 e até hoje continua inspirando e formando melhores empresários juniores. Com o objetivo de conectar, e potencializar os resultados do Movimento Empresa Júnior brasileiro o ENEJ transitou por diversos estados do país e nunca deixou de ser organizado, apesar da grandiosidade do projeto.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!--comunidade-pos-junior-->
                            <div id="imagem-cpj">
                                <div class="card img-fluid mb-3" id="card-imagem-produto">
                                    <a data-toggle="collapse" href="#cpj" role="button" aria-expanded="false" aria-controls="collapseExample" 
                                    data-toggle="tooltip" data-placement="bottom" title="Sobre a Comunidade Pós Júnior.">
                                        <img class="card-img-top" src="../Assets/pics/comunidade-pos-junior.png" alt="Logo CPJ" id="logo-produto"><i class="fas fa-angle-down" id="icone-mais-informacoes"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="texto-cpj collapse" id="cpj">
                                <div class="card border-info mb-3" id="card-texto-produto">
                                    <div class="card card-body text-info" id="texto-produto">
                                        Será que estamos mesmo transformando o Brasil? Já imaginou conhecer os pós-juniores de todo o país e poder se conectar com todos eles em uma comunidade? Esse é o convite para gerar maiores benefícios para nossa rede, criando a conexão dos pós-juniores com o mercado, com o MEJ e muito mais!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!--mej-carreiras-->
                            <div id="imagem-mej-carreiras">
                                <div class="card img-fluid mb-3" id="card-imagem-produto">
                                    <a data-toggle="collapse" href="#mej-carreiras" role="button" aria-expanded="false" aria-controls="collapseExample" 
                                    data-toggle="tooltip" data-placement="bottom" title="Sobre o MEJ Carreiras.">
                                        <img class="card-img-top" src="../Assets/pics/mej-carreiras.png" alt="Logo MEJ Carreiras" id="logo-produto"><i class="fas fa-angle-down" id="icone-mais-informacoes"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="texto-mej-carreiras collapse" id="mej-carreiras">
                                <div class="card border-info mb-3" id="card-texto-produto">
                                    <div class="card card-body text-info" id="texto-produto">
                                        Um portal feito pra você. Desenhado, planejado e preparado especialmente para você se conhecer, se inspirar e se encontrar no mercado de trabalho. O mesmo sonho, novas oportunidades.
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-sm-6">
                            <!--encontro-de-lideres-->
                            <div id="imagem-el">
                                <div class="card img-fluid mb-3" id="card-imagem-produto">
                                    <a data-toggle="collapse" href="#encontro-de-lideres" role="button" aria-expanded="false" aria-controls="collapseExample" 
                                    data-toggle="tooltip" data-placement="bottom" title="Sobre o Encontro de Líderes do MEJ.">
                                        <img src="../Assets/pics/encontro-de-lideres.png" class="card-img-top" alt="Logo Encontro de Líderes" id="logo-produto"><i class="fas fa-angle-down" id="icone-mais-informacoes"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="texto-el collapse" id="encontro-de-lideres">
                                <div class="card border-info mb-3" id="card-texto-produto">
                                    <div class="card card-body text-info" id="texto-produto">
                                        Um momento de conexão com todos os líderes que conduzirão o futuro do MEJ. Autoconhecimento, inspiração, construção e conhecimento para crescer. Este é o chamado para os inconformados que transformarão o nosso país!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!--selo-ej-->
                            <div id="imagem-se">
                                <div class="card img-fluid mb-3" id="card-imagem-produto">
                                    <a data-toggle="collapse" href="#selo-ej" role="button" aria-expanded="false" aria-controls="collapseExample" 
                                    data-toggle="tooltip" data-placement="bottom" title="Sobre o Selo EJ.">
                                        <img src="../Assets/pics/selo-ej.png" class="card-img-top" alt="Logo Selo EJ" id="logo-produto" style="max-width: 934px;"><i class="fas fa-angle-down" id="icone-mais-informacoes"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="texto-se collapse" id="selo-ej">
                                <div class="card border-info mb-3" id="card-texto-produto">
                                    <div class="card card-body text-info" id="texto-produto">
                                        O Selo EJ e o Selo Federação são produtos da Brasil Júnior que tem o objetivo de resguardar a rede contra problemas jurídicos e fiscais básicos, além de assegurar a preservação do conceito nacional de Empresa Júnior e a observância da Lei nº 13.267/16.
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-sm-6">
                            <!--universidades-empreendedoras-->
                            <div id="imagem-ue">
                                <div class="card img-fluid mb-3" id="card-imagem-produto">
                                    <a data-toggle="collapse" href="#universidades-empreendedoras" role="button" aria-expanded="false" aria-controls="collapseExample" 
                                    data-toggle="tooltip" data-placement="bottom" title="Sobre as Universidades Empreendedoras.">
                                        <img src="../Assets/pics/universidades-empreendedoras.png" class="card-img-top" alt="Logo Universidades Empreendedoras" id="logo-produto"><i class="fas fa-angle-down" id="icone-mais-informacoes"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="texto-ue collapse" id="universidades-empreendedoras">
                                <div class="card border-info mb-3" id="card-texto-produto">
                                    <div class="card card-body text-info" id="texto-produto">
                                        Se o Brasil se tornar uma grande potência sem uma grande Universidade de ponta a nível mundial, será o primeiro caso da história de um grande país.” Convidamos você para um debate em que propomos um Brasil melhor, por meio de Universidades melhores!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!--suporte-a-federacoes-->
                            <div id="imagem-sf">
                                <div class="card img-fluid mb-3" id="card-imagem-produto">
                                    <a data-toggle="collapse" href="#suporte-a-federacoes" role="button" aria-expanded="false" aria-controls="collapseExample" 
                                    data-toggle="tooltip" data-placement="bottom" title="Sobre o Suporte a Federações.">
                                        <img src="../Assets/pics/suporte-a-federacoes.png" class="card-img-top" alt="Logo Suporte a Federações" id="logo-produto"><i class="fas fa-angle-down" id="icone-mais-informacoes"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="texto-sf collapse" id="suporte-a-federacoes">
                                <div class="card border-info mb-3" id="card-texto-produto">
                                    <div class="card card-body text-info" id="texto-produto">
                                        Buscando impulsionar o impacto do Movimento Empresa júnior nos estados brasileiros, catalisamos os resultados das federações por meio de acompanhamento periódico, treinamentos, visitas, banco de práticas e cocriação de produtos.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>


    <!--<div class="col-sm-6" style="margin-right: 2%">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-6" style="float:right">
                            <div class="card border-info mb-3" style="max-width: 18rem; float:right">
                                <div class="card-body text-info">
                                    <img src="../Assets/pics/enej.png" class="img-fluid" alt="Logo ENEJ" id="logo-produto">
                                    <p class="card-text" id="texto-produto"><br>Resultado de um sonho do movimento, o Encontro Nacional de Empresas Juniores foi realizado pela primeira vez em 1993 e até hoje continua inspirando e formando melhores empresários juniores. Com o objetivo de conectar, e potencializar os resultados do Movimento Empresa Júnior brasileiro o ENEJ transitou por diversos estados do país e nunca deixou de ser organizado, apesar da grandiosidade do projeto.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card border-info mb-3" style="max-width: 18rem; float:right">
                                <div class="card-body text-info">
                                    <img src="../Assets/pics/comunidade-pos-junior.png" class="img-fluid" alt="Logo CPJ" id="logo-produto">
                                    <p class="card-text" id="texto-produto"><br>Será que estamos mesmo transformando o Brasil? Já imaginou conhecer os pós-juniores de todo o país e poder se conectar com todos eles em uma comunidade? Esse é o convite para gerar maiores benefícios para nossa rede, criando a conexão dos pós-juniores com o mercado, com o MEJ e muito mais!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                <div class="row">
                        <div class="col-sm-6" style="float:right">
                            <div class="card border-info mb-3" style="max-width: 18rem; float:right">
                                <div class="card-body text-info">
                                    <img src="../Assets/pics/mej-carreiras.png" class="img-fluid" alt="Logo MEJ Carreiras" id="logo-produto">
                                    <p class="card-text" id="texto-produto"><br>Um portal feito pra você. Desenhado, planejado e preparado especialmente para você se conhecer, se inspirar e se encontrar no mercado de trabalho. O mesmo sonho, novas oportunidades.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card border-info mb-3" id="card-texto-produto">
                                <div class="card-body text-info">
                                    <img src="../Assets/pics/encontro-de-lideres.png" class="img-fluid" alt="Logo Encontro de Líderes" id="logo-produto">
                                    <p class="card-text" id="texto-produto"><br>Um momento de conexão com todos os líderes que conduzirão o futuro do MEJ. Autoconhecimento, inspiração, construção e conhecimento para crescer. Este é o chamado para os inconformados que transformarão o nosso país!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-6" style="float:right">
                            <div class="card border-info mb-3" style="max-width: 18rem; float:right">
                                <div class="card-body text-info">
                                    <img src="../Assets/pics/selo-ej.png" class="img-fluid" alt="Logo Selo EJ" id="logo-produto">
                                    <p class="card-text" id="texto-produto"><br>O Selo EJ e o Selo Federação são produtos da Brasil Júnior que tem o objetivo de resguardar a rede contra problemas jurídicos e fiscais básicos, além de assegurar a preservação do conceito nacional de Empresa Júnior e a observância da Lei nº 13.267/16.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card border-info mb-3" id="card-texto-produto">
                                <div class="card-body text-info">
                                    <img src="../Assets/pics/universidades-empreendedoras.png" class="img-fluid" alt="Logo Universidades Empreendedoras" id="logo-produto">
                                    <p class="card-text" id="texto-produto"><br>Se o Brasil se tornar uma grande potência sem uma grande Universidade de ponta a nível mundial, será o primeiro caso da história de um grande país.” Convidamos você para um debate em que propomos um Brasil melhor, por meio de Universidades melhores!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item"><div class="row">
                    <div class="col-sm-6" style="float:right">
                        <div class="card border-info mb-3" style="max-width: 18rem; float:right">
                            <div class="card-body text-info">
                                <img src="../Assets/pics/suporte-a-federacoes.png" class="img-fluid" alt="Logo Suporte a Federações" id="logo-produto">
                                <p class="card-text" id="texto-produto"><br>Buscando impulsionar o impacto do Movimento Empresa júnior nos estados brasileiros, catalisamos os resultados das federações por meio de acompanhamento periódico, treinamentos, visitas, banco de práticas e cocriação de produtos.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>-->


</div>