<body>
    <link rel="stylesheet" href="../Assets/css/Parceiros.css">
</body>
<div class="tab-pane fade" id="parceiros" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class="container">
        
        <!--MANTENEDORES-->
        <div class="row h-30">
            <div class="card border-primary mb-3" style="max-width: 18rem !important; max-height: 9rem !important;">
                <div class="card-body" id="logo-mantenedores">
                    <img src="../Assets/pics/parceiros/mantenedores/ambev.png" alt="" style="width: 100% !important; height: 100% !important;">
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem !important; max-height: 9rem !important;">
                <div class="card-body" id="logo-mantenedores">
                    <img src="../Assets/pics/parceiros/mantenedores/bradesco.png" alt="" style="width: 100% !important; height: 100% !important;">
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem !important; max-height: 9rem !important;">
                <div class="card-body" id="logo-mantenedores">
                    <img src="../Assets/pics/parceiros/mantenedores/eureca.png" alt="" style="max-width: 18rem !important; max-height: 95px !important;">
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem !important; max-height: 9rem !important;">
                <div class="card-body" id="logo-mantenedores">
                    <img src="../Assets/pics/parceiros/mantenedores/falconi.png" alt="" style="max-width: 18rem !important; max-height: 95px !important;">
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem !important; max-height: 9rem !important;">
                <div class="card-body" id="logo-mantenedores">
                    <img src="../Assets/pics/parceiros/mantenedores/kaft-heiz.png" alt="" style="max-width: 18rem !important; max-height: 95px !important;">
                </div>
            </div>
        </div>

        <!--PATROCINADORES-->
        <div class="row h-30">
        </div>

        <!--INSTITUCIONAIS-->
        <div class="row h-30">

        </div>

    </div>
</div>