html, body {
    height: 100%;
    width: 100%;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
#card-valor{
    max-width: 18rem;
}
.row-centered{
    width:100%; 
    height:100%; 
    margin-right: 0px;
    margin-left: 0px;
}
#slide-fotos{
    width:100%; 
    height:100%
}