#logo-parceiros{
    max-width: 18rem !important;
    max-height: 18rem !important;
    max-width: 40rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img-logo-parceiros{
    max-width: 18rem !important;
    max-height: 18rem !important;
    max-width: 40rem; 
}
body{
    height: 100%;
    width: 100%;
}
.container{
    height: 30%;
    width: 100%;
}
.carousel-item{
    height: 100%;
}